:root {
  /*FONT-FAMILY*/
  --font-family-got: 'game-of-thrones', Arial, sans-serif, Helvetica;
  --font-family-cinzel-regular: 'CinzelDecorative-Regular';
  --font-family-cinzel-black: 'CinzelDecorative-Black';
  --font-family-cinzel-bold: 'CinzelDecorative-Bold';
}
